:host {
    display: flex;
    flex-direction: column;
  }

  mat-card {
    margin-bottom: 25px;
    width: 800px;
  }

  mat-card-title,
  mat-card-subtitle {
    margin-left: 18px;
  }
  
  .mat-form-field {
    width: 100%;
  }
  
  button.mat-raised-button {
    width: 100%;
  }
  
  .filter-form {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 10px;
    padding: 10px;
  }
  
  img {
    width: 200px;
  }
  
  mat-card-actions button {
    width: 200px;
  }
  